* {
	font-family: sans-serif;
}

body {
	color: #fff;
	background-color: #4b4b4b;
}

.body {
	/*	I used this before, but if anyone wondered,
	 *	this makes the HTML respect the line breaks
	 *	in the text. Since line breaks can be important
	 *	in a question or answer body, I'm using it for
	 *	the fields where we're rendering question and
	 *	answer bodies.
	 */
	white-space: pre-wrap;
}

a {
	color: #5656FF;
}

a:visited {
	color: #A656FF;
}

code {
	font: "Fira Code", monospace;
}
