{% extends 'base.html' %}

{% block content %}
	<h1>Question Box</h1>
	<p>
		<i><b>"The greatest place to ask a question"</b><br>
		-Nobody, but I wanted an endorsement quote here anyway.</i>
	</p>
	<hr>
	{% if user.is_authenticated %}
		<a href="{% url 'post_question' %}">Ask a question</a><br>
	{% else %}
		<p>Please <a href="accounts/login">log in</a> or <a href="accounts/register">sign up</a></p>
	{% endif %}
	<hr>
	<form action="{% url 'search' %}">
		<input name="q" placeholder="Search Questionbox">
		<button type="submit">Go!</button>
	</form>
	<hr>
	<div>
	{% for post in random %}
		<p>"<a href="{% url 'view_question' pk=post.pk %}">{{ post.title }}</a>" asked by {{ post.user.username }} ({{ post.timestamp }})</p>
	{% endfor %}
		</div>
{% endblock %}
