{% extends 'base.html' %}

{% load markdownify %}

{% block content %}
	<h1>{{ question.title|markdownify }}</h1>
	<p>
		Asked by <a href="{% url 'profile' username=question.user.username %}">{{ question.user.username }}</a>
	</p>
	<hr>
	<p>
		{{ question.body|markdownify }}
	</p>
	<hr>
	{% for answer in question.answers.all %}
		<div id="{{ answer.pk }}">
			<p>{{ answer.body|markdownify }}</p>
			<p>from <a href="{% url 'profile' username=answer.user.username %}">{{ answer.user.username }}</a></p>
		</div>
		<hr>
	{% endfor %}
	<div>
		<p>Know the answer? <a href="{% url 'post_answer' question_pk=question.pk %}">Post it!</a></p>
	</div>
{% endblock %}