{% extends 'base.html' %}

{% load markdownify %}

{% block content %}
	<h2>QuestionBox</h2>
	<a href="{% url 'home' %}">Home</a>
	<hr>
	<h1>{{ question.title|markdownify }} <a class="qstar" id="{{ question.pk }}">&star;</a></h1>
	<p class="body">
		Asked by <a href="{% url 'profile' username=question.user.username %}">{{ question.user.username }}</a>
		on {{ question.timestamp }}
	</p>
	<p>
		{{ question.body|markdownify }}
	</p>
	<hr>
	{% for answer in question.answers.all %}
		<div id="{{ answer.pk }}" {% if answer.is_correct %} class="correct" {% endif %}>
			<p class="body">{{ answer.body|markdownify }}</p>
			<p>from <a href="{% url 'profile' username=answer.user.username %}">{{ answer.user.username }}</a> on {{ answer.timestamp }}</p>
			<a id="{{ answer.pk }}" class="star">&star;</a>
			{% if request.user.id is question.user.id %}
				<a href="#" id='{{ answer.pk }}' class="mark">waiting for AJAX</a>
			{% endif %}
		</div>
		<hr>
	{% endfor %}
	<div>
		<p>Know the answer? <a href="{% url 'post_answer' question_pk=question.pk %}">Post it!</a></p>
	</div>
{% endblock %}

{% block script %}
	{% load static %}
	<script> let csrf_token = '{% csrf_token %}'; </script>
	<script src="{% static 'js/question.js' %}" defer></script>
{% endblock %}