{% extends 'base.html' %}

{% load markdownify %}

{% block content %}
	<h2>QuestionBox</h2>
	<a href="{% url 'home' %}">Home</a>
	<hr>
	<h1>{{ question.title|markdownify }}</h1>
	<p class="body">
		Asked by <a href="{% url 'profile' username=question.user.username %}">{{ question.user.username }}</a>
		on {{ question.timestamp }}
	</p>
	<p>
		{{ question.body|markdownify }}
	</p>
	<hr>
	{% for answer in question.answers.all %}
		<div id="{{ answer.pk }}">
			<p class="body">{{ answer.body|markdownify }}</p>
			<p>from <a href="{% url 'profile' username=answer.user.username %}">{{ answer.user.username }}</a> on {{ answer.timestamp }}</p>
			<a id="{{answer.pk}}" class="star">&star;</a>
		</div>
		<hr>
	{% endfor %}
	<div>
		<p>Know the answer? <a href="{% url 'post_answer' question_pk=question.pk %}">Post it!</a></p>
	</div>
{% endblock %}

{% block script %}
	<script defer>
		stars = document.querySelectorAll(".star");
		for(star of stars) {
			pk = star.id;
			correct = fetch();
		}
	</script>
{% endblock %}